<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="../static/images/Logo.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->

    
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Food delivery</title>
</head>
<body>
    <nav class="navigation">
        <header class="header-links">
            <div class="links-sec">

                <div class="nav-links">
                    <ul>
                        <li><a class="links" href="../templates/index.html">Home<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        
                        
                        <li><a href="../templates/index.html">Categories<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        
                        
                        <li><a href="../templates/index.html">Products<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        
                        
                        <li><a href="../templates/index.html">Pages<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        
                        
                        <li><a href="../templates/index.html">Blog<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        <li><a href="../templates/index.html">Elements<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                       
                      
                    </ul>
                   
                </div>
                <div class="contact">

                    <p class="num"><a href="../templates/index.html"><i class="fa fa-phone" aria-hidden="true"></i>  +237 (6504)  (89446)</a></p>
               </div>
                
               
            </div>
        </header>

       

        <div class="nav2-section">
            <div class="search-field">
                <input type="text" placeholder=" search for items...">
                <button class="all-cart">
                    All Category <i class="fa fa-angle-down btn-now" aria-hidden="true"></i>
                </button>
                <i class="fa fa-search now-search" aria-hidden="true"></i>
               
            </div>
           

                <div class="section-icons">
            <p class="nav-p"><a href=""><i class="fa-regular fa-user now-side"></i>Account</a></p>


            <p class="nav-p"><a href=""><i class="fa-regular fa-heart now-side"></i>Wishlist</a></p>
            
            <p class="nav-p"><a href=""><i class="fa fa-shopping-cart" ></i></i>
            </i>Cart</a></p>
            
        </div>
        </div>
        <div class="logo">
            <a href="../templates/pages/Home.html"><img src="../static/images/Logo.png" alt=""></a>
          </div>
    </nav>

    <!-- hero section start  here -->
<section class="container-section-1 bgk-img">
    <div class="container-heading bkg-img">
        <div class="container-text">
            <p class="red-text">100% <span class="black-text">Organic Vegetable</span></p>

            <h1 class="heading-1">
                The best way to <br> stuff your wallet.
            </h1>

            <p class="grey-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, modi quae obcaecati maxime dicta magni quisquam, a optio nobis cum, provident voluptates nemo! Nihil explicabo veniam dolorem sed velit omnis!
            </p>
            <button class="btn-buy-now ">
                <a href="Shop-now.html">
                    Shop Now
                </a>
            </button>
        </div>

       <img src="../static/images/Section → products-rightview.jpg.png" class="img-end end-bk" alt="">
    </div>
</section>
    <!-- hero section ends  here -->


    <!-- starter section starts  here -->
<section class="section-two no-btk blog container">
        <div class="blog-post postm  ">
            <h3 class="coke active">Coke & Milk</h3>
            <p class="bracket-text">
                (30 items)
            </p>
        </div>
        <div class="blog-post m-2">
            <h3 class="coke">Coke & Milk</h3>
            <p class="bracket-text">
                (30 items)
            </p>
        </div>
        <div class="blog-post m-2">
            <h3 class="coke">Coke & Milk</h3>
            <p class="bracket-text">
                (30 items)
            </p>
        </div>
        <div class="blog-post m-2">
            <h3 class="coke">Coke & Milk</h3>
            <p class="bracket-text">
                (30 items)
            </p>
        </div>
        <div class="blog-post m-2">
            <h3 class="coke">Coke & Milk</h3>
            <p class="bracket-text">
                (30 items)
            </p>
        </div>
        <div class="blog-post post m-2 ">
            <h3 id="coke">View More</h3>
            
        </div>
          
    </div>
    <!-- <div class=" container row "> -->
        <div class="image-section-card col">
            <img src="../static/images/food1.png" alt="food section" class="food-one">
            <h2 class="price-range">
                50 <span class="price"> %</span><span> OFF</span>
            </h2>
            <div class="base-section">
                <h3 class="cake-price">Cake</h3>
                <button class="btn-now now-one">
                    Shop-now
                </button>
            </div>
        
        </div>
        <div class="image-section-card col ">
            <img src="../static/images/food2.png" alt="food section" class="food-one" >
            <h2 class="price-range">
                50 <span class="price"> %</span><span> OFF</span>
            </h2>
            <div class="base-section">
                <h3 class="cake-price">Milk</h3>
                <button class="btn-now now-one">
                    Shop-now
                </button>
            </div>
        </div>
    
    <!-- </div> -->
    
</section>

<!-- popuklar section start here -->

 <section style=" width: 100%;" class="popular-section" id="popular-section">
    <div class="container-text-pop">
        <div class="text-pop" style="text-align: center;">
            <h1>Popular products</h1>
            <p class="pupular-tex">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis in velit magnam quam eos. Iste obcaecati magnam quo! Illo sapiente doloremque  
            </p>
        </div>
        <!-- side bar seection -->
        <div class="side-bar-section" style="width: 25%;"  >
            <div class="all-cat-pop">
                <a href="more">
                    All <i>arrow</i>
                </a>
            </div>
            <div class="all-cat-pop">
                <a href="more">
                    Snack<i>arrow</i>
                </a>
            </div>
            <div class="all-cat-pop">
                <a href="more">
                    Vegetables <i>arrow</i>
                </a>
            </div>
            <div class="all-cat-pop">
                <a href="more">
                    Fruits<i>arrow</i>
                </a>
            </div>
            <div class="all-cat-pop">
                <a href="more">
                   Bakery<i>arrow</i>
                </a>
            </div>
            <div class="product-baner">
                <img src="../static/images/product-banner.png" class="img-up" alt="product baner image">
                <div class="text-banner-sec">
                    <h3 class="light-text">Juice</h3>
                    <h3 class="top-n">Fruits</h3>
                    <p>100% natural </p>
                    <a href="shop-now">Shop now</a>
                </div>
            </div>
            
       
       <div style="width: 70%; float: left;" class="image-cat-section" id="image-card">
            <div class="image-section">
                <img src="../static/images/drinks.png" alt="">

                 <div class="text-popu">
                    <h3 class="vegetables">Vegetables</h3>
                    <p class="stars-here">*****</p>
                    <p class="text-note">Fresh organic villa farm   500km pack </p>
                    <h4 class="price-section">
                        $120.25 <del>$123.25</del>
                    </h4>

                 </div>

            </div>
        </div> 
    </div>
           
 </section>
<!-- popuklar section  ends here -->



  
    <!-- starter section ends  here -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> -->
</body>
</html>