<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="../static/images/Logo.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"  />
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Food delivery</title>
</head>
<link rel="stylesheet" href=".././sass/main.scss">
<link rel="stylesheet" href=".././static/styles/styles.css">
<body>
    <nav class="navigation">
        <header class="header-links">
            <div class="links-sec">

                <div class="nav-links">
                    <ul>
                        <li><a class="links" href="../templates/index.html">Home<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        
                        
                        <li><a href="../templates/index.html">Categories<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        
                        
                        <li><a href="../templates/index.html">Products<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        
                        
                        <li><a href="../templates/index.html">Pages<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        
                        
                        <li><a href="../templates/index.html">Blog<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        <li><a href="../templates/index.html">Elements<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                       
                      
                    </ul>
                   
                </div>
                <div class="contact">

                    <p class="num"><a href="../templates/index.html"><i class="fa fa-phone" aria-hidden="true"></i>  +237 (6504)  (89446)</a></p>
               </div>
                
               
            </div>
        </header>

       

        <div class="nav2-section">
            <div class="search-field">
                <input type="text" placeholder=" search for items...">
                <button class="all-cart">
                    All Category <i class="fa fa-angle-down btn-now" aria-hidden="true"></i>
                </button>
                <i class="fa fa-search now-search" aria-hidden="true"></i>
               
            </div>
           

                <div class="section-icons">
            <p class="nav-p"><a href=""><i class="fa-regular fa-user now-side"></i>Account</a></p>


            <p class="nav-p"><a href=""><i class="fa-regular fa-heart now-side"></i>Wishlist</a></p>
            
            <p class="nav-p"><a href=""><i class="fa fa-shopping-cart" ></i></i>
            </i>Cart</a></p>
            
        </div>
        </div>
        <div class="logo">
            <a href="../templates/pages/Home.html"><img src="../static/images/Logo.png" alt=""></a>
          </div>
    </nav>

    <!-- hero section start  here -->
<section class="container-section-1 bgk-img">
    <div class="container-heading bkg-img">
        <div class="container-text">
            <p class="red-text">100% <span class="black-text">Organic Vegetable</span></p>

            <h1 class="heading-1">
                The best way to <br> stuff your wallet.
            </h1>

            <p class="grey-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, modi quae obcaecati maxime dicta magni quisquam, a optio nobis cum, provident voluptates nemo! Nihil explicabo veniam dolorem sed velit omnis!
            </p>
            <button class="btn-buy-now ">
                <a href="Shop-now.html">
                    Shop Now
                </a>
            </button>
        </div>

       <img src="../static/images/Section → products-rightview.jpg.png" class="img-end end-bk" alt="">
    </div>
</section>
    <!-- hero section ends  here -->


    <!-- starter section starts  here -->
<section class="section-two no-btk blog container">
        <div class="blog-post postm  ">
            <h3 class="coke active">Coke & Milk</h3>
            <p class="bracket-text">
                (30 items)
            </p>
        </div>
        <div class="blog-post m-2">
            <h3 class="coke">Coke & Milk</h3>
            <p class="bracket-text">
                (30 items)
            </p>
        </div>
        <div class="blog-post m-2">
            <h3 class="coke">Coke & Milk</h3>
            <p class="bracket-text">
                (30 items)
            </p>
        </div>
        <div class="blog-post m-2">
            <h3 class="coke">Coke & Milk</h3>
            <p class="bracket-text">
                (30 items)
            </p>
        </div>
        <div class="blog-post m-2">
            <h3 class="coke">Coke & Milk</h3>
            <p class="bracket-text">
                (30 items)
            </p>
        </div>
        <div class="blog-post post m-2 ">
            <h3 id="coke">View More</h3>
            
        </div>
          
    </div>
    <!-- <div class=" container row "> -->
        <div class="image-section-card col">
            <img src="../static/images/food1.png" alt="food section" class="food-one">
           
            </div>
        
        </div>
        <div class="image-section-card col ">
            <img src="../static/images/food2.png" alt="food section" class="food-one" >
           
           
        </div>
    
    <!-- </div> -->
    
</section>

<!-- popuklar section start here -->
  
    <!-- starter section ends  here -->
    
</body>
</html>