
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
   
    box-sizing: border-box;
    font-family: poppins, 'roboto';
    scroll-behavior: smooth;
}
section-btn{
    padding: 10px;
    width: 50px;
    text-align: center;
    color: #ffffff;
    background-color: #F53E32;
    border-radius:10px;
    border: none;
    font-weight: 500;
    font-family: poppins;
}
body{
    list-style-type: none;
    text-decoration: none;
    background-color:#e7e7e7;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

}
section{
  padding: 10px 10px 10px;
  margin: 10px 10px 0 0;
}
nav{
 width: 100%;
    background-color: #eee;
    padding: 0.2rem;
    border-bottom:1px  solid #eee;
    text-align: center;
    padding:0;
    margin: 0;
   height: 10%;
  
}
.navigation{
    position:fixed;
    z-index: 1;
}

nav header{
    justify-content: space-evenly;
    margin: 5px;
    padding: 2px;
    background-color: #eee;
    
   
}
nav header .nav-links{
    display: flex;
    justify-content: center;
    

}
nav header ul{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
   

}
nav .contact .num{
    margin-left: 65rem;
    position:absolute;
    margin-top: -27px;
}
.contact .num a{
    text-decoration: none;
    
}
nav header li{
    margin-right:30px;
    
}

nav header li a{
    text-decoration: none;
    transition: color 0.2s ease;
    
}
 .fa-angle-down{
    margin-right: 10px;
    margin: 10px;
}
nav ul li a:hover{
    color: #64B496;
    background-color: #ffffff;
    padding: 5px ;
    border-radius:5px;
    transition: 0.5s ease;
}

img{
    width: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav2-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    background-color: #ffffff; /* Add a background color to the nav bar */
    border-top: solid 1px #bbbbbb;
    height: 13vh;
    position: fixed;
  }
  
 
  .search-field{
    align-items:center;
    margin-left: 15rem;
    display: flex;
  }
    
  
  .search-field input[type="text"] {
    padding: 1em;
    border: solid 1px #64B496;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: roboto;
    text-transform: capitalize;
    width: 300px;
  }
  
  .all-cart {
    background-color: #fff;
    color: #2e2a2a;
    border-left: solid 1px #64B496;
    border-top: solid 1px #64B496;
    border-bottom: solid 1px #64B496;
    border-right: none;
    padding: 1em;
    cursor: pointer;
    margin-left: -3px;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    color: #555;
    font-size: 0.8rem;
    font-weight: normal;
  }
  .all-cart .btn-now{
    margin-right: 10px;
    justify-content: space-evenly;
    margin: 5px;
    font-size: 0.8rem;
    

  }

  .now-search{
    background-color: #F53E32;
    font-weight: 0.8rem;
    color: white;
  padding: 1.1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  }
  .now-search:hover{
    background-color: #F53E32;
    opacity: 0.6;
    transition: 0.5s ease ;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
  }
  
  .all-cart:hover {
    background-color: #f0faf3;
  }
  
 nav .section-icons {
   display: flex;
   margin: 10px;
   align-content:center
  } 
  
 nav .section-icons .nav-p {
    margin-right: 30px;
  }
  
 
  
  .nav-p a {
    color: #5f5e5e;
    font-weight: 500;
    text-decoration: none;
  }
  
  .nav-p a .now-side{
    color: #5f5e5e;
    font-weight: 500;
    text-decoration: none;
  }
  
  .nav-p a:hover {
    color: #ccc;
  }
  .fa-regular, .fa{
    margin-right: 6px;
  }

 .logo img{
   position:relative;
   width: 150px;
   height:fit-content;
   margin-left: 150px;
 
  

  }


  /* hero section start here */
  .container-section-1{
    background-color: pink;
    display: flex;
    justify-content:flex-start;
    width: 100%;
    height:90vh;
  }
  .container-section-1 .container-heading{
    margin: 170px;
    height: 45vh;
    width: 100%;
    display: flex;
    /* background-color: #fff; */

  }
  .container-section-1 .img-end{
   position: left;
   margin-left: 38rem;
   width: 30%;
   height: 50vh;
   border-radius: 10px;
   -moz-border-radius: 10px;
-webkit-border-radius: 10px;
   -moz-box-shadow: 0 0 10px #777777; 
-webkit-box-shadow: 0 0 10px #777777; 
box-shadow: 0 0 10px #777777;
 
  }
  

   .container-text{
    margin-top: -40px;
   }
   
  .container-text .red-text{
    font-weight: 600;
    font-family: Roboto, 'poppins';
    font-size: 2rem;
    color: #F53E32;

  }
  .container-text span{
    color:#2e2a2a;
  }

.container-text .heading-1{
    font-family: 900;
    text-wrap: wrap;
    width: 100%;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

.container-text .grey-text{
    width: 50%;
    text-indent: 1px;
    line-height: 20px;
    color:#7a6969;
}

  .btn-buy-now{
    padding: 15px;
   
    margin-top: 20px;
    width: 100px;
background-color: #F53E32;
border: none;
border-radius: 10px ;
  }
  .btn-buy-now a{
    text-decoration: none;
    font-family: poppins;
    font-weight: 500;
    color: #eee;

  }
  .btn-buy-now:hover{
    background-color: #6e0e07;
    transition: .5s ease;
    transition-delay: 0.3s;
  }

  
  .bkg-img{
    background-image: url('../images/__after\ \(1\).png');
  }



  /* section two starts here */
  .section-two{
    display: block ; 
    z-index: -1;
    margin: 170px;
    margin-top: 100px;
  }

  .image-section-card{
    display: flex;
    justify-content:end;
    width: 220px;
    float: left;
    margin: 50px;
  }
  .food-one{
    display: flex ;
  top: 107%;
  float: left;
 margin-right: -350px;
 border: 1px solid #eee;
 border-radius: 10px ;
 -webkit-border-radius: 10px;
   -moz-box-shadow: 0 0 10px #777777; 
-webkit-box-shadow: 0 0 10px #777777; 
box-shadow: 0 0 10px #777777;
  }
  
.blog-post{
  background-color: #fff;
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px #fffdfd;
  -webkit-border-radius: 10px;
   -moz-box-shadow: 0 0 10px #777777; 
-webkit-box-shadow: 0 0 10px #777777; 
box-shadow: 0 0 10px #777777;
  
}
.blog-post, .coke{
  font-size: 17px;
  text-align: center;
  padding: 2px;
  margin: 5px;
  color: #302f2f;

}
#coke{
  padding: 2px;
  color: #F53E32;
  font-size: 1.5rem;
}
.blog-post:hover{
  background-color: #d8d8d8;
  transition: .5s ease-in;
}
.active{
  color: #F53E32;
}

.price-range{
  position: absolute;
   margin-top: -38rem;
   font-size: 40px;
    color: wheat;
    padding: 15px;
    margin-right:-11rem;
}
.price-range span{
  font-weight: normal;
  font-size: 20px;
  position: relative;
  color:whitesmoke;
  
}
.price-range .price{
  font-weight: normal;
  font-size:20px;
  position: absolute;
}

.base-section{
 display: inline;
/* background-color: red; */
 margin-top: -22rem;
position: absolute;
margin-right: -16rem;
padding: auto;
font-size: 20px;
 
}

.cake-price{
  text-align: center;
  color:#eee;
  margin-bottom: -30px;
}
  
 .now-one{
  padding: 10px;
  margin: 0;
  margin-top: 40px;
  width: 118.28px;
  height: 40px;
background-color: #F53E32;
border: none;
border-radius: 5px ;
color: #eee;
}
 
   .now-one:hover{
    background-color: #F53E32;
    opacity: 0.8;
    transition: .5s ease-in-out;
    transition-behavior:inherit;
    color: #eee;
   }
 


   /* popular products section here  */
